* {
  box-sizing: border-box;
  margin: 0 auto;
}

.page-container {
  font-family: $main-font;
background: #63574e;
background: linear-gradient(40deg, rgba(99, 87, 78, 1) 2%, rgba(189, 179, 160, 1) 46%, rgba(204, 196, 184, 1) 78%);
  height: 100vh;
}

