* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-container {
  font-family: $main-font;
background: #63574e;
background: linear-gradient(40deg, rgba(99, 87, 78, 1) 2%, rgba(189, 179, 160, 1) 46%, rgba(204, 196, 184, 1) 78%);
  height: 100%;

}
.container {
 max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: $main-padding;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//inputs
.primary-input {
 padding: 10px;
background-color: $alt-font-color;
border: 0;
border-radius: 10px;
font-size: 18px;
}

.primary-button {
 padding: 10px;
  border-radius: 20px;
  border: 2px solid $alt-font-color;
background-color: $accent-color;
color: $main-font-color;
font-size: 18px;
letter-spacing: 1px;
font-weight: 700;
}