.footer {
  @include backgroundImage {
    background-position: 0% 20%;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    padding: 10px;
  }

  p {
    margin: 0 10px;
    font-weight: 500;
    color: $main-font-color;
  }
}
