header {
    @include backgroundImage {
    padding: $main-padding;
    height: 100px;
    background-position: 0% 43%;
}


  .inner-header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 25px;

    .logo {
      display: flex;

      img {
        width: 30px;
        margin-right: 10px;
      }
    }
  }
}

.nav-link {
  text-decoration: none;
   color: $main-font-color;
   text-shadow: 2px 3px 3px #b6ad9d;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  & li {
    padding: 0 25px;
  }
}
