.main-content {
  flex: 1;
  padding: $main-padding;
}

 .fa-star {
  color: $alt-font-color;
font-size: 45px;
text-shadow: $main-text-shadow;
}

.homepage-header {
  font-weight: 600;
  font-size: 45px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px;
  line-height: 100px;
  color: $alt-font-color;
text-shadow: $main-text-shadow;
}

.homepage-text {
  color: #f5f4f1;
  padding: 15px;
  font-size: $main-font-size;
  margin-bottom: 20px;
 font-size: 20px;
 text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);

& + label {
  color: #f5f4f1;
  padding: 15px;
  font-size: $main-font-size;
 font-size: 20px;
 text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
}

.homepage-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
width: 30%;
}