.horoscope-header {
  font-weight: 600;
  font-size: 1.39rem;
  text-transform: uppercase;
  color: $alt-font-color;
  text-shadow: $main-text-shadow;
  letter-spacing: 1px;
  margin-bottom: 10px;

   @media screen and (min-width: $breakpoint-big) {
   font-size: 2em;
  }
}

.horoscope-main {
  margin: 15px;
  padding: 40px;
 background: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 1px 12px 13px #0000004d;

  & select {
    width: 200px;
    height: 50px;
    align-items: center;

      @media screen and (max-width: $breakpoint-medium) {
    margin: 10px 0;
  }
   @media screen and (min-width: $breakpoint-big) {
   font-size: 1.8em;
 height: 100%;
 width: 300px;
  }
  }

  .horoscope-results {
    padding-left: 10px;
    font-size: 1.33rem;
    color: $alt-font-color;
    text-shadow: $main-text-shadow;
  }

  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
    padding: 15px 5px;
  }
}

.horo-api {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;

}

.horoscope-date,
.horoscope-sign {
  font-size: 1.22rem;
  font-weight: 500;
  color: $alt-font-color;

    @media screen and (min-width: $breakpoint-big) {
   font-size: 1.8em;
  }
}

.horoscope-date:hover {
 color:#e6e1f7;
}

.horoscope-description {
  font-size: 1.22rem;
  line-height: 1.6;
  color: $alt-font-color;
  text-shadow: $main-text-shadow;

    @media screen and (min-width: $breakpoint-big) {
   font-size: 1.5em;
  }
}