$main-font: 'Ubuntu', sans-serif;
$main-padding: 2rem;
$main-font-color: #585141;


@mixin backgroundImage {
 width: 100%;
 background-image: url("../assets/10419153.jpg");
  background-size: cover;
  box-shadow: 5px 5px 15px 10px #8e846b;
  @content;
}
